{% extends 'base/main.html' %}

{% load static%}

{% block content %}
<main>
    <section id="main">    
        <h1 id = "welcome">Welcome To Our Chat</h1>
        <p>A real time video translation app</p>
        <form id="form">
            <div class="form-field">
                <input id="button" type="submit" value="Join Stream" />
            </div>
        </form>
    </section>
</main>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        window.open("/room/", "_self")
    }

    form.addEventListener('submit', handleSubmit)
</script>
{% endblock content %}